name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test Case 1 [no input]
      id: test-case-1-no-input
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Test Case 1 [no input]
        setup-command: ''
        command: python3 hello_world.py
        input: ''
        expected-output: Hello, world!
        comparison-method: exact
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEST-CASE-1-NO-INPUT_RESULTS: "${{steps.test-case-1-no-input.outputs.result}}"
      with:
        runners: test-case-1-no-input
